body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
}

th {
  font-size: 16px;
}

#update-form {
  display: none;
}

h1 {
	font-weight: bold;
}
